{% extends 'base.html' %}
    {% block content %}
    <h2>All Products Page</h2>

    <table>
        <thead>
            <tr>
                <th>S.NO</th>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Product Code</th>
                <th>Price</th>
                <th>GST</th>
                <th>Food Product</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for product in all_products %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{product.id}}</td>
                <td>{{product.product_name}}</td>
                <td>{{product.product_code}}</td>
                <td>{{product.price}}</td>
                <td>{{product.gst}}</td>
                <td>{{product.food_product}}</td>
                <td><a href="{% url 'product_update' product.id %}">
                    <button class="update">Update</button>
                </a>
                    
                </td>
                <td>
                    <a href="{% url 'product_delete' product.id %}">
                        <button class="delete">Delete</button>
                    </a>
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
        <a href="{% url 'product_add' %}">
            <button class="add">Add Product</button>
        </a>
    

    {% endblock %}
